@import url('https://fonts.googleapis.com/css?family=Baloo+Da');

.sidebar {
    padding: 0px 10px 10px 10px;
    border-radius: 25px;
    position: absolute;
    right: 25px;
    width: 300px;
    top: 25px;
    background-color: #3E3D32;
}

#imageCanvas {
    width: auto;
    height: auto;
    margin: 50px;
    max-width: 50%;
}

.button-menu {
    width: 275px;
    display: flex;
    margin: 0 auto;
}

.button {
    margin: 5px;
}

h1 {
    color: #66D9EF;
    font-size: 64px;
    font-family: 'Baloo Da', cursive;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 0px;
}

#glitch {
    color: #66D9EF;
    font-size: 24px;
    font-family: 'Baloo Da', cursive;
    font-weight: lighter;
    margin-top: 0px;
}

.ui-page {
    background-color: #3E3D32;
}

.main {
    position: relative;
    border-radius: 25px;
    margin: 25px;
    min-height: 550px;
    max-height: 50%;
    background-color: #4E4D42;
}

.footer {
    margin: auto;
    width: 400px;
    background-color: #4E4D42;
    bottom: 0px;
    border-radius: 25px;
}    

#author {
    color: #66D9EF;
    font-size: 24px;
    text-align: center;
    font-family: 'Baloo Da', cursive;
    font-weight: lighter;
    margin:  0px;
}

.logo {
    width: 32px;
    margin: 0px 35px 10px 35px;
}
